#####################################################################
# 	EBB Extruder Stepper and EBB36 Settings
#####################################################################
# Motor3
[extruder]
step_pin: EBBCan: PD0
dir_pin: EBBCan: PD1
enable_pin: !EBBCan: PD2
microsteps: 16
full_steps_per_rotation: 200
rotation_distance: 4.729
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: EBBCan: PB13 # HE0
sensor_pin: EBBCan: PA3 # T0
sensor_type: PT1000
pullup_resistor: 2200
#control: pid
#pid_Kp: 20.837
#pid_Ki: 1.037
#pid_Kd: 104.708
min_temp: 0
max_temp: 300
min_extrude_temp: 0
max_extrude_only_distance: 1400.0
max_extrude_only_velocity: 80.0
max_extrude_only_accel: 1500.0
max_extrude_cross_section: 20000.0 

[fan]
pin: PA6

[heater_fan hotend_fan]
pin: EBBCan: PA1
heater: extruder
heater_temp: 50.0


#####################################################################
# 	Manta Extruder Stepper and Settings
#####################################################################

# Motor 4
#[extruder]
#step_pin: PB4
#dir_pin: PB3
#enable_pin: !PB6
#microsteps: 16
#full_steps_per_rotation: 200
#rotation_distance: 4.637
#nozzle_diameter: 0.400
#filament_diameter: 1.750
#heater_pin: PA1 # HE1
#sensor_pin: PB0 # TH0
#sensor_type: PT1000
#pullup_resistor: 2200
#control: pid
#pid_Kp: 20.837
#pid_Ki: 1.037
#pid_Kd: 104.708
#min_temp: 0
#max_temp: 300
#min_extrude_temp: 0
#max_extrude_only_distance: 1400.0
#max_extrude_only_velocity: 120.0
#max_extrude_only_accel: 1500.0
#max_extrude_cross_section: 20000.0 

#[fan]
#pin: PF6

#[heater_fan hotend_fan]
#pin: PF8
#heater: extruder
#heater_temp: 50.0

#######################################################################################################################################################
###############################    Extruder Driver Settings     #######################################################################################
#######################################################################################################################################################
[tmc2209 extruder]
uart_pin: EBBCan: PA15
run_current: 0.850
stealthchop_threshold: 999999
sense_resistor: 0.110

#[tmc2209 extruder]
#uart_pin: PB5
#run_current: 0.850
#stealthchop_threshold: 999999
#sense_resistor: 0.110

#######################################################################################################################################################
###############################    Input Shaper     ###################################################################################################
#######################################################################################################################################################

#[adxl345]
#cs_pin: EBBCan: PB12
#spi_software_sclk_pin: EBBCan: PB10
#spi_software_mosi_pin: EBBCan: PB11
#spi_software_miso_pin: EBBCan: PB2
#axes_map: x,y,z

#[resonance_tester]
#probe_points: 140, 130, 30
#accel_chip: adxl345
#accel_per_hz: 125



#######################################################################################################################################################
###############################    Extruder Filament Sensors     ###################################################################################################
#######################################################################################################################################################


#[filament_switch_sensor Pre_Extruder]
#pause_on_runout: True
#   When set to True, a PAUSE will execute immediately after a runout
#   is detected. Note that if pause_on_runout is False and the
#   runout_gcode is omitted then runout detection is disabled. Default
#   is True.
#runout_gcode:
#   A list of G-Code commands to execute after a filament runout is
#   detected. See docs/Command_Templates.md for G-Code format. If
#   pause_on_runout is set to True this G-Code will run after the
#   PAUSE is complete. The default is not to run any G-Code commands.
#immediate_runout_gcode:
#   A list of G-Code commands to execute immediately after a filament
#   runout is detected and runout_distance is greater than 0.
#   See docs/Command_Templates.md for G-Code format.
#insert_gcode:
#   A list of G-Code commands to execute after a filament insert is
#   detected. See docs/Command_Templates.md for G-Code format. The
#   default is not to run any G-Code commands, which disables insert
#   detection.
#runout_distance: 0.0
#   Defines how much filament can still be pulled after the
#   switch sensor triggered (e.g. you have a 60cm reverse bowden between your
#   extruder and your sensor, you would then set runout_distance to something
#   like 590 to leave a small safety margin and now the print will not
#   immediately pause when the sensor triggers but rather keep printing until
#   the filament is at the extruder). The default is 0 millimeters.
#event_delay: 3.0
#   The minimum amount of time in seconds to delay between events.
#   Events triggered during this time period will be silently
#   ignored. The default is 3 seconds.
#pause_delay: 0.5
#   The amount of time to delay, in seconds, between the pause command
#   dispatch and execution of the runout_gcode. It may be useful to
#   increase this delay if OctoPrint exhibits strange pause behavior.
#   Default is 0.5 seconds.
#switch_pin: ^EBBCan: PB4
#   The pin on which the switch is connected. This parameter must be
#   provided.
#smart: true
#   If set to true the sensor will use the virtual_sd_card module to determine
#   whether the printer is printing which is more reliable but will not work
#   when streaming a print over usb or similar.
#always_fire_events:
#   If set to true, runout events will always fire no matter whether the sensor
#   is enabled or disabled. Usefull for MMUs
#check_on_print_start:
#   If set to true, the sensor will be reevaluated when a print starts and if
#   no filament is detected the runout_gcode will be run no matter the defined
#   runout_distance(immediate_runout_gcode will not be run in this case)


#[filament_switch_sensor Post_Extruder]
#pause_on_runout: True
#   When set to True, a PAUSE will execute immediately after a runout
#   is detected. Note that if pause_on_runout is False and the
#   runout_gcode is omitted then runout detection is disabled. Default
#   is True.
#runout_gcode:
#   A list of G-Code commands to execute after a filament runout is
#   detected. See docs/Command_Templates.md for G-Code format. If
#   pause_on_runout is set to True this G-Code will run after the
#   PAUSE is complete. The default is not to run any G-Code commands.
#immediate_runout_gcode:
#   A list of G-Code commands to execute immediately after a filament
#   runout is detected and runout_distance is greater than 0.
#   See docs/Command_Templates.md for G-Code format.
#insert_gcode:
#   A list of G-Code commands to execute after a filament insert is
#   detected. See docs/Command_Templates.md for G-Code format. The
#   default is not to run any G-Code commands, which disables insert
#   detection.
#runout_distance: 0.0
#   Defines how much filament can still be pulled after the
#   switch sensor triggered (e.g. you have a 60cm reverse bowden between your
#   extruder and your sensor, you would then set runout_distance to something
#   like 590 to leave a small safety margin and now the print will not
#   immediately pause when the sensor triggers but rather keep printing until
#   the filament is at the extruder). The default is 0 millimeters.
#event_delay: 3.0
#   The minimum amount of time in seconds to delay between events.
#   Events triggered during this time period will be silently
#   ignored. The default is 3 seconds.
#pause_delay: 0.5
#   The amount of time to delay, in seconds, between the pause command
#   dispatch and execution of the runout_gcode. It may be useful to
#   increase this delay if OctoPrint exhibits strange pause behavior.
#   Default is 0.5 seconds.
#switch_pin: ^EBBCan: PB3
#   The pin on which the switch is connected. This parameter must be
#   provided.
#smart: true
#   If set to true the sensor will use the virtual_sd_card module to determine
#   whether the printer is printing which is more reliable but will not work
#   when streaming a print over usb or similar.
#always_fire_events:
#   If set to true, runout events will always fire no matter whether the sensor
#   is enabled or disabled. Usefull for MMUs
#check_on_print_start:
#   If set to true, the sensor will be reevaluated when a print starts and if
#   no filament is detected the runout_gcode will be run no matter the defined
#   runout_distance(immediate_runout_gcode will not be run in this case)
